body {
    font-family: sans-serif;
    background-color: lightgrey;
    background-image:"https://images.pexels.com/photos/239898/pexels-photo-239898.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"
    background-repeat:no-repeat;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
    color:white;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

